body {
    background-color: #708090;
    color: black;
    display: flex;
    justify-content: center;
}

main {
    background-color: #B0C4DE;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 800px;
    padding: 5px 10px;
    flex-flow: column nowrap;

}

section {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100%;
    height: auto;

}

.nav-bar {

    background-color: #B0E0E6;
    width: 100%;
}

.nav-bar--content {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    color: #fff;

}

.capa {
    width: 100%;
    height: auto;
    /* border: 2px hidden; */
    border-radius: 10px;

}

li {
    /* border: 2px hidden; */
    border-radius: 10px;
    width: auto;
    height: 20px;
    background-color: aliceblue;
    padding: 0px 10px;
}

a {
    color: #000;
    text-decoration: none;
}

.general-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.copy {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

form {
    display: flex;
    flex-flow: column nowrap;

}